 #t {
            color: blue;
            font: bold;
        }

        body,div {
            margin: auto;
            text-align: center;
            width: 75%;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            max-width: 700px;
            min-width: 400px;
            text-align: center;
        }

        caption {
            caption-side: bottom;
            font-weight: bold;
            font-style: italic;
            margin: 4px;
        }

        table, th, td {
            border: 1px solid gray;
        }

        th, td {
            height: 24px;
            padding: 4px;
            vertical-align: middle;
        }