
@{
    ViewBag.Title = "PayementAndTips";
}

<html>
<head>
    <link href="~/Content/StyleSheet1.css" rel='stylesheet' type='text/css' />
</head>
<body background="~/Content/Images/restau.jpg">
    <h2 id="create">PayementAndTips</h2>

    <section>

        @{
            String chaine = Session["Chaine"].ToString();
            <p>
                @chaine;
            </p>
            <p>
                <h4>Welcome back soon !!!!</h4>
            </p>
        }
</body>
</html>
    </section>
</body>
</html>